.z0 {
    width: 100%;

    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;

    /* Fixing blurry images upon zoom */
    image-rendering: auto;
}

.z0.z1 {
    width: 200%;

    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;

    /* Fixing blurry images upon zoom */
    image-rendering: auto;
}

.z0.z2 {
    width: 300%;

    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;

    /* Fixing blurry images upon zoom */
    image-rendering: auto;
}